<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> nav }}

    <main>
        <h1>Login</h1>
         <!-- Error and Success Messages-->
        {{#if error}}
            <p style="color:red">{{error}}</p>
        {{/if}}

        {{#if success}}
            <p style="color:green">{{success}}</p>
        {{/if}}

        <!-- Login page requires username and password-->
        <form action="/login" method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>
            <br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <p><a href="/api/auth/register">Don't have an account? Register here</a></p>
        <p><a href="/">← Back to Home</a></p>
    </main>

    {{> footer}}
</body>
</html>

