<!--=================================-->
<!-- User Registration Page Template -->
<!--=================================-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{> nav }}

    <main>
        <h1>Register</h1>
        <!-- Display server-side error messages -->
        {{#if error}}
            <p style="color:red">{{error}}</p>
        {{/if}}
         <!-- Registration form, sends POST request to /api/auth/register -->
        <form action="/api/auth/register" method="POST">

            <!-- Makes browser prevent submission until all fields are filled-->
            <label><strong>Username:</strong></label>
            <input type="text" name="username" required>
            <br>
            <br>
            <label><strong>Email:</strong></label>
            <input type="email" name="email" required>
            <br>
            <br>
            <label><strong>Display Name:</strong></label>
            <input type="text" name="display_name" required>
            <br>
            <br>
            <div> 
                <!-- Password requirements guidance for the user -->
                <label><small>Password Requirements:</small></label>
                <ul> </small>
                    <li><small>At least 8 characters long</small></li>
                    <li><small>At least one uppercase letter</small></li>
                    <li><small>At least one lowercase letter</small></li>
                    <li><small>At least one number</small></li>
                    <li><small>At least one special character</small></li>
                </ul>
             </div>

            <label><strong>Password:</strong></label>

            <input type="password" name="password" required>
            <br>
            <br>
            <button type="submit">Register</button>
        </form>

        <!-- Links for navigation -->
        <p><a href="/login">Already have an account? Login here</a></p>
        <p><a href="/">Back to Home</a></p>
    </main>
    {{> footer}}
    
</body>
</html>

